<!DOCTYPE html>
<html>
<head>
<title>Ålandsbankens lunch</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="all" />
</head>
<body>
<div class="container">
			<!-- freshdesignweb top bar -->
            <div class="freshdesignweb-top">
                <a href="http://www.foretagsbyran.ax" target="_blank">Hem</a>
                <span class="right">
                    <a href="http://www.foretagsbyran.ax">
                        <strong>Tillbaka till Företagsbyråns hemsida</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ freshdesignweb top bar -->
			<header>
				<h1><span>Meny</span>Ålandsbankens lunch</h1>
            </header>       
     <!-- start header here-->
	<header>
<div id="fdw-pricing-table">
    <div class="plan plan1">
        <div class="header">Måndag</div>
<div class="lunch1">Nudelwok</div></div>
    <div class="plan plan2 ">
        <div class="header">Tisdag</div>
<div class="lunch2">Torsk i ugnen</div></div>
    <div class="plan plan3">
        <div class="header">Onsdag</div>
<div class="lunch3">Herdepaj</div></div>
    <div class="plan plan4">
        <div class="header">Torsdag</div>
<div class="lunch4">Spenatsoppa / Fattigariddare</div></div>
    <div class="plan plan5">
        <div class="header">Fredag</div>
<div class="lunch5">Rostbiff</div></div>
</div>
	</header><!-- end header -->
    
</div>
</body>
</html>
